
# Grails
*.log
/*.zip
/plugin.xml
*.db
*Db.properties
*Db.script
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# IntelliJ stuff
*.iws
/out

# eclipse
eclipse
target-eclipse
.settings

.DS_Store
stacktrace.log
